<!DOCTYPE html>
<html>
    <head>
        <title>Bracket Bananza</title>
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
        <script src="bracket.page.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link href="/src/app/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/src/app/css/style.css" rel="stylesheet" type="text/css">
        <link href="/src/app/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="/src/app/css/responsive.css" rel="stylesheet" type="text/css">
        <link href="/src/app/css/magnific-popup.css" rel="stylesheet" type="text/css">
        <link href="/src/app/css/animate.css" rel="stylesheet" type="text/css">

        <link href="app/entryform/entry.form.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/src/app/entryform/entry.form.js"></script>

        <script type="text/javascript" src="/src/app/js/jquery.1.8.3.min.js"></script>
        <script type="text/javascript" src="/src/app/js/bootstrap.js"></script>
        <script type="text/javascript" src="/src/app/js/jquery-scrolltofixed.js"></script>
        <script type="text/javascript" src="/src/app/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/src/app/js/jquery.isotope.js"></script>
        <script type="text/javascript" src="/src/app/js/wow.js"></script>
        <script type="text/javascript" src="/src/app/js/classie.js"></script>
        <script type="text/javascript" src="/src/app/js/magnific-popup.js"></script>

        <!-- =======================================================
    Theme Name: Knight
    Theme URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
	======================================================= -->

        <link href="bracket.page.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="bracket.page.js"></script> 
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVLzXVT1vBPMgHF-x3MOXQlMJiVlryDj8&libraries=places"></script>
        <style>
            header {
                background-color: #F8FFE5;
                color: #FFC43D;
                border-bottom: solid 10px #FFC43D;

            }
            /* footer {
                background-color: #FFC43D;
                color: #F8FFE5;

                width: 100%;
                text-align: center;
                position: fixed;
                bottom: 0;
                overflow: hidden;
            } */
        </style>
    </head>
    <body>
        <header>
            <!--header-start-->
            <div class="container">
                <h1 class="animated fadeInDown delay-07s">Welcome To Munch Madness</h1>
            </div>
        </header>
                    <!--header-end-->
    <!-- <section id="bracketHolder"></section>
    <section id="boxHolder"></section> -->

    <!-- <footer class="footer">
            <div class="container">
                <span class="copyright">&copy; Knight Theme. All Rights Reserved</span>
                <div class="credits">
                  
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
    </footer> -->
    <script>
			function navToNext() {
                location.href = "file:///Users/meghancasey/Desktop/CSWork/PennApps/FoodBracket/src/app/winnerpage/winner.page.html";

				// location.replace("file:///Users/meghancasey/Desktop/CSWork/PennApps/FoodBracket/src/app/bracket/bracket.page.html");
			}
	</script>
        <!-- <script type="text/javascript">
            $(document).ready(function(e) {
    
                $('#test').scrollToFixed();
                $('.res-nav_click').click(function() {
                    $('.main-nav').slideToggle();
                    return false
    
                });
    
          $('.Portfolio-box').magnificPopup({
            delegate: 'a',
            type: 'image'
          });
    
            });
        </script>
    
        <script>
            wow = new WOW({
                animateClass: 'animated',
                offset: 100
            });
            wow.init();
        </script>
    
    
        <script type="text/javascript">
            $(window).load(function() {
    
                $('.main-nav li a, .servicelink').bind('click', function(event) {
                    var $anchor = $(this);
    
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top - 102
                    }, 1500, 'easeInOutExpo');
                    /*
                    if you don't want to use the easing effects:
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1000);
                    */
                    if ($(window).width() < 768) {
                        $('.main-nav').hide();
                    }
                    event.preventDefault();
                });
            })
        </script>
    
        <script type="text/javascript">
            $(window).load(function() {
    
    
                var $container = $('.portfolioContainer'),
                    $body = $('body'),
                    colW = 375,
                    columns = null;
    
    
                $container.isotope({
                    // disable window resizing
                    resizable: true,
                    masonry: {
                        columnWidth: colW
                    }
                });
    
                $(window).smartresize(function() {
                    // check if columns has changed
                    var currentColumns = Math.floor(($body.width() - 30) / colW);
                    if (currentColumns !== columns) {
                        // set new column count
                        columns = currentColumns;
                        // apply width to container manually, then trigger relayout
                        $container.width(columns * colW)
                            .isotope('reLayout');
                    }
    
                }).smartresize(); // trigger resize to set container width
                $('.portfolioFilter a').click(function() {
                    $('.portfolioFilter .current').removeClass('current');
                    $(this).addClass('current');
    
                    var selector = $(this).attr('data-filter');
                    $container.isotope({
    
                        filter: selector,
                    });
                    return false;
                });
    
            });
        </script> -->
    </body>
    
    </html>
    
</html>