<!DOCTYPE html>
<html>
    <head>
        <title>Food Bracket</title>
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>

        <link href="bracket.page.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="bracket.page.js"></script> 
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVLzXVT1vBPMgHF-x3MOXQlMJiVlryDj8&libraries=places"></script>
    </head>
    <body>
       
    </body>
</html>